.venv
.venv/*
.idea
.idea/*
api_token.py
.whatsapp_cookies
.whatsapp_cookies/*
.whatsapp_cookies/.*
logfilename.log
contacts.vcf
voice_assistant_custom_log.log
test.py
./test.py
output.wav
./temp_whisper.wav
./porcupine/*
__pycache__/*
porcupine/*
oauth.json