[Unit]
Description=Voice Assistant Service
Documentation=https://github.com/yarete03/tux_voice_assistant

Wants=graphical-session.target
After=graphical-session.target

[Service]
WorkingDirectory=/home/yaret/PycharmProjects/tux_voice_assistent/
Type=simple
KillSignal=SIGKILL
Restart=on-failure
ExecStart=/home/yaret/PycharmProjects/tux_voice_assistent/.venv/bin/python3 -u speech_recognition.py

[Install]
WantedBy=default.target

